*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: sans-serif;
}

body{
    background-image: url(background.jpg);
    background-size:cover;
}
  
.container{
background-color: rgba(0, 0, 0, 0.5);
width: 70%;
margin: 4.5rem auto;
border-radius: 15px;
padding:1rem 5%;
color:white;
}

header{
    margin-top: 3%;
}

.logo{
    width: 30%;
    height: 10%;
    margin:auto;
}

header>div:nth-child(2){
    color:rgb(150, 233, 26);
    margin:1rem auto;
    width: 350px;
    font-size: 2.5rem;
}

button{
    font-size: 1rem;
}


nav{
    width: 80%;
    height: 30px;
    margin: auto;
    background-color: chartreuse;
}

.center{
margin-top:5px;
margin-bottom:5px;
margin-left:33%;
width: 50%;
display:inline-block;

}

main>.monopattino{
    margin-top:1.5rem;
}
main>p{
    display:block;
}
.monopattino>p:nth-child(2){
    font-size: 2.2rem;
    display: inline-block;
}
.monopattino>p{
   margin-bottom:0.5rem;
}

#bar{
background-color:orange;
width: 35%;
padding: 15px;
border-radius: 5px;
margin-bottom:30px;
}

#bar2{
    background-color:green;
    width: 60%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom:30px;
}

#bar3{
    background-color:red;
    width: 10%;
    padding: 15px;
    border-radius: 5px;
    margin-bottom:30px;
}

